<div class="commands">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <ul class="list-group">
        <li class="list-group-item"><span class="col-lg-2 command"><code>start</code></span> starts session for 25 minutes</li>
        <li class="list-group-item"><span class="col-lg-2 command"><code>start <i>n</i></code></span> starts session for <i>n</i> minutes (for example <code>start 15</code>) </li>
        <li class="list-group-item"><span class="col-lg-2 command"><code>stop</code></span> stops session </li>
        <li class="list-group-item"><span class="col-lg-2 command"><code>pause</code></span> pauses session </li>
        <li class="list-group-item"><span class="col-lg-2 command"><code>unpause</code></span> unpauses session (<code>start</code> will do it, too)</li>
        <li class="list-group-item"><span class="col-lg-2 command"><code>status</code></span> check session status</li>
      </ul>
    </div>
  </div>
</div>
