<div class="commands">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      Give us your <a href="mailto:kacper.walanus@elpassion.pl?subject=EL Pomodoro feedback" target="_blank">feedback</a>, we won't bite!
    </div>
  </div>
</div>
