<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-center">Usage</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="img/usage-min.png" alt="usage">
        <img src="img/usage2-min.png" alt="usage">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <br><br>
        Automatic response will be sent to a person who messages you during session.
        <br>
        During session your notifications are snoozed.
      </div>
    </div>
  </div>
</section>
