<section id="portfolio">
  <div class="usage">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <ol class="list-group">
          <p>1. <a href="https://slack.com/oauth/authorize?scope=bot+im:read+users:read+im:history+chat:write:user+dnd:write&client_id=<%=SLACK_CONFIG[:client_id]%>&redirect_uri=<%=SLACK_CONFIG[:redirect_uri]%>">
            <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" style="position: relative; top: -3px"/>
          </a></p>
          <p>2. <i>elpomodoro</i> bot will appear in your team <img src="img/elpomodoro-bot.png" alt="bot" style="border: 1px solid darkgray; margin-left: 5px"></p>
          <p>
            3. Talk to him! Available commands are:
          </p>
        </ol>
      </div>
    </div>
    <br />
    <div class="commands">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <ul class="list-group">
            <li class="list-group-item"><span class="col-lg-2 command"><code>start</code></span> starts session for 25 minutes</li>
            <li class="list-group-item"><span class="col-lg-2 command"><code>start <i>n</i></code></span> starts session for <i>n</i> minutes (for example <code>start 15</code>) </li>
            <li class="list-group-item"><span class="col-lg-2 command"><code>stop</code></span> stops session </li>
            <li class="list-group-item"><span class="col-lg-2 command"><code>pause</code></span> pauses session </li>
            <li class="list-group-item"><span class="col-lg-2 command"><code>unpause</code></span> unpauses session (<code>start</code> will do it, too)</li>
          </ul>
          <!--<img src="img/usage-min.png" alt="usage">-->
          <!--<img src="img/usage3-min.png" alt="usage">-->
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <p> Automatic response will be sent to a person who messages you during session. </p>
        <p> During session your notifications are snoozed. </p>
      </div>
    </div>
  </div>
</section>
