<section>
<div class="usage">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <p><strong>Thank you for installing <span class="el-focus-text">EL Focus!</span></strong></p>
      <p>Now find <i>elfocus</i> bot <img src="img/elpomodoro-bot.png" alt="bot" style="width: 105px; height: 26px; border: 1px solid darkgray; margin-left: 5px; position:relative; top: -1px"> and talk to him!</p>
      <p>Available commands are:</p>
    </div>
  </div>
  <br />
  <%= erb(:_commands) %>
</div>
</section>
