<section>
  <div class="usage">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>We only collect the minimum amount of personal information that is necessary for <span class="el-focus-text">EL Focus</span> to work. <br/>We don't sell it to third parties.</p>
        <p>Information we store:</p>
        <ul class="list-group">
          <li class="list-group-item">Your Slack ID</li>
          <li class="list-group-item">List of your DM channels with unread messages</li>
        </ul>
      </div>
    </div>
  </div>

</section>
